/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}
.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}
